@keyframes character-animation {
  100% {
    background-position: -320px 0;
  }
}

.character {
  background-position: 0 0;
  bottom: 2rem;
  height: 160px;
  image-rendering: pixelated;
  position: absolute;
  transform: translateX(-50%);
  width: 80px;
}

.right {
  transform: translateX(-50%) rotateY(180deg);
}

.mario {
  background-image: url('images/mario.png');
}

.walking {
  animation-duration: 0.5s;
  animation-name: character-animation;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4, end);
}
